In [1]:
import pandas as pd
import numpy as np
from scipy import stats

In [2]:
df0 = pd.read_csv('car_ad.csv', encoding_errors = 'ignore')
df0

,car,price,body,mileage,engV,engType,registration,year,model,drive
0,Ford,15500.0,crossover,68,2.5,Gas,yes,2010,Kuga,full
1,Mercedes-Benz,20500.0,sedan,173,1.8,Gas,yes,2011,E-Class,rear
2,Mercedes-Benz,35000.0,other,135,5.5,Petrol,yes,2008,CL 550,rear
3,Mercedes-Benz,17800.0,van,162,1.8,Diesel,yes,2012,B 180,front
4,Mercedes-Benz,33000.0,vagon,91,NaN,Other,yes,2013,E-Class,NaN
...,...,...,...,...,...,...,...,...,...,...
9571,Hyundai,14500.0,crossover,140,2.0,Gas,yes,2011,Tucson,front
9572,Volkswagen,2200.0,vagon,150,1.6,Petrol,yes,1986,Passat B2,front
9573,Mercedes-Benz,18500.0,crossover,180,3.5,Petrol,yes,2008,ML 350,full
9574,Lexus,16999.0,sedan,150,3.5,Gas,yes,2008,ES 350,front
9575,Audi,22500.0,other,71,3.6,Petrol,yes,2007,Q7,full

In [3]:
df = df0.copy()

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9576 entries, 0 to 9575
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   car           9576 non-null   object
 1   price         9576 non-null   float64
 2   body          9576 non-null   object
 3   mileage       9576 non-null   int64
 4   engV          9142 non-null   float64
 5   engType       9576 non-null   object
 6   registration  9576 non-null   object
 7   year          9576 non-null   int64
 8   model         9570 non-null   object
 9   drive         9065 non-null   object
dtypes: float64(2), int64(2), object(6)
memory usage: 748.2+ KB

In [5]:
df.isnull().sum()

car               0
price             0
body              0
mileage           0
engV            434
engType           0
registration      0
year              0
model             6
drive           511
dtype: int64

In [6]:
df.isnull().all(axis = 1).sum()
# hepsi null olan sutun yok

0

In [7]:
df.groupby('body').agg({'year' : np.mean, 'engV' : np.mean})

                  year      engV
body
crossover  2009.554857  3.177341
hatch      2006.507188  1.839513
other      2006.633652  2.956620
sedan      2004.988481  2.634003
vagon      2005.523546  2.252536
van        2007.252622  2.586078

In [8]:
df.groupby('body').filter(lambda x : x['engV'].mean() < 2.3)

,car,price,body,mileage,engV,engType,registration,year,model,drive
4,Mercedes-Benz,33000.0,vagon,91,NaN,Other,yes,2013,E-Class,NaN
7,Renault,10500.0,vagon,185,1.5,Diesel,yes,2011,Megane,front
30,Nissan,13980.0,hatch,31,NaN,Other,yes,2013,Leaf,front
31,Nissan,17300.0,hatch,24,NaN,Other,yes,2013,Leaf,front
33,Audi,2600.0,vagon,273,2.5,Diesel,no,1999,A6,front
...,...,...,...,...,...,...,...,...,...,...
9558,Chevrolet,5600.0,hatch,159,1.6,Petrol,yes,2008,Lacetti,front
9563,Skoda,6100.0,vagon,84,1.2,Petrol,yes,2007,Fabia,front
9565,Mercedes-Benz,8900.0,hatch,155,1.5,Petrol,yes,2005,A 150,front
9568,Mercedes-Benz,5000.0,vagon,248,2.0,Gas,yes,1996,E-Class,rear
9572,Volkswagen,2200.0,vagon,150,1.6,Petrol,yes,1986,Passat B2,front

In [9]:
df.groupby('body')[['price', 'mileage', 'engV', 'year']].transform(lambda x : (x.mean())).iloc[[30, 31], :]

          price     mileage      engV         year
30  8479.313508  112.702077  1.839513  2006.507188
31  8479.313508  112.702077  1.839513  2006.507188

In [10]:
df.groupby('body').apply('mean')

                  price     mileage      engV         year
body
crossover  29635.720586  100.293378  3.177341  2009.554857
hatch       8479.313508  112.702077  1.839513  2006.507188
other      19287.914249  135.378282  2.956620  2006.633652
sedan      12151.912140  149.293747  2.634003  2004.988481
vagon       8681.033847  174.757618  2.252536  2005.523546
van        10519.914180  187.978074  2.586078  2007.252622

In [11]:
df

,car,price,body,mileage,engV,engType,registration,year,model,drive
0,Ford,15500.0,crossover,68,2.5,Gas,yes,2010,Kuga,full
1,Mercedes-Benz,20500.0,sedan,173,1.8,Gas,yes,2011,E-Class,rear
2,Mercedes-Benz,35000.0,other,135,5.5,Petrol,yes,2008,CL 550,rear
3,Mercedes-Benz,17800.0,van,162,1.8,Diesel,yes,2012,B 180,front
4,Mercedes-Benz,33000.0,vagon,91,NaN,Other,yes,2013,E-Class,NaN
...,...,...,...,...,...,...,...,...,...,...
9571,Hyundai,14500.0,crossover,140,2.0,Gas,yes,2011,Tucson,front
9572,Volkswagen,2200.0,vagon,150,1.6,Petrol,yes,1986,Passat B2,front
9573,Mercedes-Benz,18500.0,crossover,180,3.5,Petrol,yes,2008,ML 350,full
9574,Lexus,16999.0,sedan,150,3.5,Gas,yes,2008,ES 350,front
9575,Audi,22500.0,other,71,3.6,Petrol,yes,2007,Q7,full

In [12]:
df[df.engV.isnull()]

,car,price,body,mileage,engV,engType,registration,year,model,drive
4,Mercedes-Benz,33000.000,vagon,91,NaN,Other,yes,2013,E-Class,NaN
13,BMW,4700.000,sedan,200,NaN,Petrol,yes,1996,316,rear
30,Nissan,13980.000,hatch,31,NaN,Other,yes,2013,Leaf,front
31,Nissan,17300.000,hatch,24,NaN,Other,yes,2013,Leaf,front
37,Audi,2850.000,sedan,260,NaN,Other,no,1999,A6,NaN
...,...,...,...,...,...,...,...,...,...,...
9470,Chrysler,0.000,vagon,198,NaN,Petrol,yes,2001,PT Cruiser,front
9480,Renault,8100.000,van,135,NaN,Diesel,yes,2008,Kangoo .,front
9515,Renault,5000.000,vagon,150,NaN,Other,yes,2006,Kangoo .,front
9546,VAZ,907.725,sedan,1,NaN,Other,yes,1986,2106,rear
9566,UAZ,850.000,van,255,NaN,Other,yes,1981,3962,NaN

In [13]:
df[df.price == 0]

,car,price,body,mileage,engV,engType,registration,year,model,drive
20,Land Rover,0.0,crossover,0,4.4,Diesel,yes,2016,Range Rover,full
53,Mercedes-Benz,0.0,crossover,0,3.0,Diesel,yes,2016,GLE-Class,full
70,Mercedes-Benz,0.0,crossover,0,3.0,Diesel,yes,2016,GLE-Class,full
71,Toyota,0.0,crossover,0,4.5,Diesel,yes,2016,Land Cruiser 200,full
90,Porsche,0.0,sedan,22,4.8,Petrol,yes,2014,Panamera,full
...,...,...,...,...,...,...,...,...,...,...
9019,Toyota,0.0,hatch,76,1.0,Petrol,yes,2007,Aygo,front
9025,Mercedes-Benz,0.0,crossover,1,3.0,Petrol,yes,2016,GLE-Class,full
9036,Ford,0.0,other,1,5.0,Petrol,yes,2014,Mustang,rear
9442,Renault,0.0,vagon,137,1.9,Diesel,yes,2008,Kangoo .,front
9470,Chrysler,0.0,vagon,198,NaN,Petrol,yes,2001,PT Cruiser,front

In [14]:
df[df.drive.isnull()]

,car,price,body,mileage,engV,engType,registration,year,model,drive
4,Mercedes-Benz,33000.0,vagon,91,NaN,Other,yes,2013,E-Class,NaN
37,Audi,2850.0,sedan,260,NaN,Other,no,1999,A6,NaN
44,BMW,39333.0,sedan,6,2.00,Petrol,yes,2016,520,NaN
52,Mercedes-Benz,31500.0,sedan,123,2.20,Diesel,yes,2011,E-Class,NaN
103,Volkswagen,10000.0,van,231,1.90,Diesel,yes,2005,T5 (Transporter) .,NaN
...,...,...,...,...,...,...,...,...,...,...
9445,Nissan,5000.0,sedan,260,3.00,Gas,yes,2000,Maxima,NaN
9450,VAZ,750.0,sedan,123,1.20,Petrol,yes,1990,2105,NaN
9469,Renault,5650.0,hatch,175,99.99,Other,yes,2002,Laguna,NaN
9537,Volkswagen,11500.0,other,51,1.60,Petrol,yes,2013,Polo,NaN
9566,UAZ,850.0,van,255,NaN,Other,yes,1981,3962,NaN

In [15]:
df[df.engType == 'Other']

,car,price,body,mileage,engV,engType,registration,year,model,drive
4,Mercedes-Benz,33000.000,vagon,91,NaN,Other,yes,2013,E-Class,NaN
30,Nissan,13980.000,hatch,31,NaN,Other,yes,2013,Leaf,front
31,Nissan,17300.000,hatch,24,NaN,Other,yes,2013,Leaf,front
37,Audi,2850.000,sedan,260,NaN,Other,no,1999,A6,NaN
41,Nissan,13275.000,hatch,12,NaN,Other,yes,2013,Leaf,front
...,...,...,...,...,...,...,...,...,...,...
9425,Nissan,14999.000,hatch,21,NaN,Other,yes,2013,Leaf,front
9469,Renault,5650.000,hatch,175,99.99,Other,yes,2002,Laguna,NaN
9515,Renault,5000.000,vagon,150,NaN,Other,yes,2006,Kangoo .,front
9546,VAZ,907.725,sedan,1,NaN,Other,yes,1986,2106,rear
9566,UAZ,850.000,van,255,NaN,Other,yes,1981,3962,NaN

In [16]:
df.price.replace(0, np.nan, inplace = True)
df.price.isnull().sum()

267

In [17]:
df.engType.replace('Other', np.nan, inplace = True)
df.engType.isnull().sum()

462

In [18]:
df.year.unique()

array([2010, 2011, 2008, 2012, 2013, 2003, 2016, 1996, 2006, 2007, 2014,
       2015, 1999, 2002, 1997, 2000, 2009, 1998, 2001, 2005, 2004, 1987,
       1994, 1989, 1992, 1993, 1995, 1986, 1991, 1990, 1981, 1978, 1988,
       1961, 1985, 1983, 1974, 1971, 1979, 1982, 1958, 1962, 1963, 1977,
       1980, 1959, 1984, 1973, 1953, 1970, 1976, 1972, 1964, 1969, 1968,
       1975], dtype=int64)

In [19]:
df.drive.unique()

array(['full', 'rear', 'front', nan], dtype=object)

In [20]:
df.car.unique()

array(['Ford', 'Mercedes-Benz', 'Nissan', 'Honda', 'Renault', 'BMW',
       'Land Rover', 'Volkswagen', 'Audi', 'Chrysler', 'Jaguar',
       'Mitsubishi', 'Kia', 'Porsche', 'Toyota', 'Hyundai', 'Opel',
       'Chevrolet', 'Skoda', 'Daewoo', 'Mazda', 'Lexus', 'Infiniti',
       'Tesla', 'Subaru', 'VAZ', 'Alfa Romeo', 'Smart', 'Peugeot',
       'Suzuki', 'Chery', 'Bentley', 'Volvo', 'SsangYong', 'Fiat', 'ZAZ',
       'Citroen', 'Dodge', 'Jeep', 'Great Wall', 'Seat', 'MINI', 'Dacia',
       'Hummer', 'Geely', 'Maserati', 'BYD', 'Cadillac', 'Acura',
       'Aston Martin', 'Rover', 'GAZ', 'GMC', 'Lincoln', 'UAZ',
       'Moskvich-AZLK', 'FAW', 'Rolls-Royce', 'TATA', 'ZX', 'Lifan',
       'Mercury', 'Groz', 'Moskvich-Izh', 'Saab', 'Lancia', 'Aro',
       'Ferrari', 'Isuzu', 'Bogdan', 'Dadi', 'Other-Retro', 'MG',
       'Samand', 'JAC', 'Samsung', 'Lamborghini', 'Daihatsu', 'Hafei',
       'SMA', 'Fisker', 'Changan', 'Barkas', 'Huanghai', 'Wartburg',
       'Buick'], dtype=object)

In [21]:
df.body.unique()

array(['crossover', 'sedan', 'other', 'van', 'vagon', 'hatch'],
      dtype=object)

In [22]:
df.price.dtype

dtype('float64')

In [23]:
df.dropna(how = 'any')

,car,price,body,mileage,engV,engType,registration,year,model,drive
0,Ford,15500.0,crossover,68,2.5,Gas,yes,2010,Kuga,full
1,Mercedes-Benz,20500.0,sedan,173,1.8,Gas,yes,2011,E-Class,rear
2,Mercedes-Benz,35000.0,other,135,5.5,Petrol,yes,2008,CL 550,rear
3,Mercedes-Benz,17800.0,van,162,1.8,Diesel,yes,2012,B 180,front
5,Nissan,16600.0,crossover,83,2.0,Petrol,yes,2013,X-Trail,full
...,...,...,...,...,...,...,...,...,...,...
9571,Hyundai,14500.0,crossover,140,2.0,Gas,yes,2011,Tucson,front
9572,Volkswagen,2200.0,vagon,150,1.6,Petrol,yes,1986,Passat B2,front
9573,Mercedes-Benz,18500.0,crossover,180,3.5,Petrol,yes,2008,ML 350,full
9574,Lexus,16999.0,sedan,150,3.5,Gas,yes,2008,ES 350,front
9575,Audi,22500.0,other,71,3.6,Petrol,yes,2007,Q7,full

In [24]:
df.shape

(9576, 10)

In [25]:
df.dropna(thresh = 10, axis = 0)

,car,price,body,mileage,engV,engType,registration,year,model,drive
0,Ford,15500.0,crossover,68,2.5,Gas,yes,2010,Kuga,full
1,Mercedes-Benz,20500.0,sedan,173,1.8,Gas,yes,2011,E-Class,rear
2,Mercedes-Benz,35000.0,other,135,5.5,Petrol,yes,2008,CL 550,rear
3,Mercedes-Benz,17800.0,van,162,1.8,Diesel,yes,2012,B 180,front
5,Nissan,16600.0,crossover,83,2.0,Petrol,yes,2013,X-Trail,full
...,...,...,...,...,...,...,...,...,...,...
9571,Hyundai,14500.0,crossover,140,2.0,Gas,yes,2011,Tucson,front
9572,Volkswagen,2200.0,vagon,150,1.6,Petrol,yes,1986,Passat B2,front
9573,Mercedes-Benz,18500.0,crossover,180,3.5,Petrol,yes,2008,ML 350,full
9574,Lexus,16999.0,sedan,150,3.5,Gas,yes,2008,ES 350,front
9575,Audi,22500.0,other,71,3.6,Petrol,yes,2007,Q7,full

In [26]:
df.dropna(axis = 1, how = 'any')
# bu sutunlarda hiÃ§ null deÄŸer yok

                car       body  mileage registration  year
0              Ford  crossover       68          yes  2010
1     Mercedes-Benz      sedan      173          yes  2011
2     Mercedes-Benz      other      135          yes  2008
3     Mercedes-Benz        van      162          yes  2012
4     Mercedes-Benz      vagon       91          yes  2013
...             ...        ...      ...          ...   ...
9571        Hyundai  crossover      140          yes  2011
9572     Volkswagen      vagon      150          yes  1986
9573  Mercedes-Benz  crossover      180          yes  2008
9574          Lexus      sedan      150          yes  2008
9575           Audi      other       71          yes  2007

[9576 rows x 5 columns]

In [27]:
df.registration.unique()

array(['yes', 'no'], dtype=object)

In [28]:
df.registration

0       yes
1       yes
2       yes
3       yes
4       yes
       ...
9571    yes
9572    yes
9573    yes
9574    yes
9575    yes
Name: registration, Length: 9576, dtype: object

In [29]:
df.registration.map({'yes' : 1, 'no' : 0})

0       1
1       1
2       1
3       1
4       1
       ..
9571    1
9572    1
9573    1
9574    1
9575    1
Name: registration, Length: 9576, dtype: int64

In [30]:
df.registration = df.registration.map({'yes' : 1, 'no' : 0})
df.head()

,car,price,body,mileage,engV,engType,registration,year,model,drive
0,Ford,15500.0,crossover,68,2.5,Gas,1,2010,Kuga,full
1,Mercedes-Benz,20500.0,sedan,173,1.8,Gas,1,2011,E-Class,rear
2,Mercedes-Benz,35000.0,other,135,5.5,Petrol,1,2008,CL 550,rear
3,Mercedes-Benz,17800.0,van,162,1.8,Diesel,1,2012,B 180,front
4,Mercedes-Benz,33000.0,vagon,91,NaN,NaN,1,2013,E-Class,NaN

In [31]:
df.fillna('a')

,car,price,body,mileage,engV,engType,registration,year,model,drive
0,Ford,15500.0,crossover,68,2.5,Gas,1,2010,Kuga,full
1,Mercedes-Benz,20500.0,sedan,173,1.8,Gas,1,2011,E-Class,rear
2,Mercedes-Benz,35000.0,other,135,5.5,Petrol,1,2008,CL 550,rear
3,Mercedes-Benz,17800.0,van,162,1.8,Diesel,1,2012,B 180,front
4,Mercedes-Benz,33000.0,vagon,91,a,a,1,2013,E-Class,a
...,...,...,...,...,...,...,...,...,...,...
9571,Hyundai,14500.0,crossover,140,2.0,Gas,1,2011,Tucson,front
9572,Volkswagen,2200.0,vagon,150,1.6,Petrol,1,1986,Passat B2,front
9573,Mercedes-Benz,18500.0,crossover,180,3.5,Petrol,1,2008,ML 350,full
9574,Lexus,16999.0,sedan,150,3.5,Gas,1,2008,ES 350,front
9575,Audi,22500.0,other,71,3.6,Petrol,1,2007,Q7,full

In [32]:
df.engV.fillna(df.engV.mean())

0       2.500000
1       1.800000
2       5.500000
3       1.800000
4       2.646344
          ...
9571    2.000000
9572    1.600000
9573    3.500000
9574    3.500000
9575    3.600000
Name: engV, Length: 9576, dtype: float64

In [33]:
df

,car,price,body,mileage,engV,engType,registration,year,model,drive
0,Ford,15500.0,crossover,68,2.5,Gas,1,2010,Kuga,full
1,Mercedes-Benz,20500.0,sedan,173,1.8,Gas,1,2011,E-Class,rear
2,Mercedes-Benz,35000.0,other,135,5.5,Petrol,1,2008,CL 550,rear
3,Mercedes-Benz,17800.0,van,162,1.8,Diesel,1,2012,B 180,front
4,Mercedes-Benz,33000.0,vagon,91,NaN,NaN,1,2013,E-Class,NaN
...,...,...,...,...,...,...,...,...,...,...
9571,Hyundai,14500.0,crossover,140,2.0,Gas,1,2011,Tucson,front
9572,Volkswagen,2200.0,vagon,150,1.6,Petrol,1,1986,Passat B2,front
9573,Mercedes-Benz,18500.0,crossover,180,3.5,Petrol,1,2008,ML 350,full
9574,Lexus,16999.0,sedan,150,3.5,Gas,1,2008,ES 350,front
9575,Audi,22500.0,other,71,3.6,Petrol,1,2007,Q7,full

In [34]:
df.engType.mode()

0    Petrol
Name: engType, dtype: object

In [35]:
df.engType.fillna(df.engType.mode()[0])

0          Gas
1          Gas
2       Petrol
3       Diesel
4       Petrol
         ...
9571       Gas
9572    Petrol
9573    Petrol
9574       Gas
9575    Petrol
Name: engType, Length: 9576, dtype: object

In [36]:
df

,car,price,body,mileage,engV,engType,registration,year,model,drive
0,Ford,15500.0,crossover,68,2.5,Gas,1,2010,Kuga,full
1,Mercedes-Benz,20500.0,sedan,173,1.8,Gas,1,2011,E-Class,rear
2,Mercedes-Benz,35000.0,other,135,5.5,Petrol,1,2008,CL 550,rear
3,Mercedes-Benz,17800.0,van,162,1.8,Diesel,1,2012,B 180,front
4,Mercedes-Benz,33000.0,vagon,91,NaN,NaN,1,2013,E-Class,NaN
...,...,...,...,...,...,...,...,...,...,...
9571,Hyundai,14500.0,crossover,140,2.0,Gas,1,2011,Tucson,front
9572,Volkswagen,2200.0,vagon,150,1.6,Petrol,1,1986,Passat B2,front
9573,Mercedes-Benz,18500.0,crossover,180,3.5,Petrol,1,2008,ML 350,full
9574,Lexus,16999.0,sedan,150,3.5,Gas,1,2008,ES 350,front
9575,Audi,22500.0,other,71,3.6,Petrol,1,2007,Q7,full

In [37]:
df[df.model == 'E-Class']

,car,price,body,mileage,engV,engType,registration,year,model,drive
1,Mercedes-Benz,20500.0,sedan,173,1.8,Gas,1,2011,E-Class,rear
4,Mercedes-Benz,33000.0,vagon,91,NaN,NaN,1,2013,E-Class,NaN
8,Mercedes-Benz,21500.0,sedan,146,1.8,Gas,1,2012,E-Class,rear
9,Mercedes-Benz,22700.0,sedan,125,2.2,Diesel,1,2010,E-Class,rear
11,Mercedes-Benz,20400.0,sedan,190,1.8,Gas,1,2011,E-Class,rear
...,...,...,...,...,...,...,...,...,...,...
9275,Mercedes-Benz,23900.0,sedan,124,1.8,Petrol,1,2012,E-Class,rear
9467,Mercedes-Benz,10900.0,sedan,217,3.2,Diesel,1,2002,E-Class,rear
9512,Mercedes-Benz,5000.0,sedan,382,2.0,Petrol,1,1994,E-Class,rear
9535,Mercedes-Benz,2300.0,sedan,300,3.0,Diesel,1,1999,E-Class,rear
9568,Mercedes-Benz,5000.0,vagon,248,2.0,Gas,1,1996,E-Class,rear

In [38]:
df.loc[df.model == 'E-Class', 'drive']

1       rear
4        NaN
8       rear
9       rear
11      rear
        ...
9275    rear
9467    rear
9512    rear
9535    rear
9568    rear
Name: drive, Length: 199, dtype: object

In [39]:
df.loc[df.model == 'E-Class', 'drive'] = df.loc[df.model == 'E-Class', 'drive'].fillna(df.loc[df.model == 'E-Class', 'drive'].mode()[0])
df.loc[df.model == 'E-Class', 'drive']

1       rear
4       rear
8       rear
9       rear
11      rear
        ...
9275    rear
9467    rear
9512    rear
9535    rear
9568    rear
Name: drive, Length: 199, dtype: object

In [40]:
df

,car,price,body,mileage,engV,engType,registration,year,model,drive
0,Ford,15500.0,crossover,68,2.5,Gas,1,2010,Kuga,full
1,Mercedes-Benz,20500.0,sedan,173,1.8,Gas,1,2011,E-Class,rear
2,Mercedes-Benz,35000.0,other,135,5.5,Petrol,1,2008,CL 550,rear
3,Mercedes-Benz,17800.0,van,162,1.8,Diesel,1,2012,B 180,front
4,Mercedes-Benz,33000.0,vagon,91,NaN,NaN,1,2013,E-Class,rear
...,...,...,...,...,...,...,...,...,...,...
9571,Hyundai,14500.0,crossover,140,2.0,Gas,1,2011,Tucson,front
9572,Volkswagen,2200.0,vagon,150,1.6,Petrol,1,1986,Passat B2,front
9573,Mercedes-Benz,18500.0,crossover,180,3.5,Petrol,1,2008,ML 350,full
9574,Lexus,16999.0,sedan,150,3.5,Gas,1,2008,ES 350,front
9575,Audi,22500.0,other,71,3.6,Petrol,1,2007,Q7,full

In [41]:
df.loc[(df.year == 2010) & (df.car == 'Mercedes-Benz'), :]

,car,price,body,mileage,engV,engType,registration,year,model,drive
9,Mercedes-Benz,22700.0,sedan,125,2.2,Diesel,1,2010,E-Class,rear
88,Mercedes-Benz,16500.0,other,107,2.2,Diesel,1,2010,Vito .,front
549,Mercedes-Benz,44000.0,other,82,5.5,Petrol,1,2010,S 500,full
602,Mercedes-Benz,39900.0,crossover,127,5.5,Petrol,1,2010,GL 550,full
702,Mercedes-Benz,69900.0,sedan,76,6.0,Petrol,1,2010,S 500,rear
740,Mercedes-Benz,32000.0,crossover,96,3.5,Petrol,1,2010,ML 350,full
834,Mercedes-Benz,22900.0,sedan,197,2.2,Diesel,1,2010,E-Class,rear
1056,Mercedes-Benz,16300.0,van,175,2.2,Diesel,1,2010,Vito .,rear
1565,Mercedes-Benz,23200.0,sedan,58,1.8,Petrol,1,2010,C-Class,rear
1929,Mercedes-Benz,39900.0,crossover,126,5.5,Petrol,1,2010,GL 500,full
2103,Mercedes-Benz,69900.0,sedan,76,6.0,Petrol,1,2010,S 65 AMG,rear
2180,Mercedes-Benz,38700.0,sedan,117,5.5,Petrol,1,2010,S 550,full
2187,Mercedes-Benz,24800.0,vagon,118,3.0,Diesel,1,2010,E-Class,full
2348,Mercedes-Benz,23800.0,sedan,195,2.2,Diesel,1,2010,E-Class,rear
2508,Mercedes-Benz,11500.0,van,200,2.2,Diesel,1,2010,Vito .,rear
2645,Mercedes-Benz,17500.0,vagon,113,2.2,Diesel,1,2010,C-Class,rear
2770,Mercedes-Benz,33800.0,crossover,120,3.0,Diesel,1,2010,ML 350,full
3096,Mercedes-Benz,23999.0,other,150,NaN,Diesel,1,2010,Vito .,NaN
3188,Mercedes-Benz,20200.0,sedan,69,2.0,Petrol,1,2010,E-Class,rear
4239,Mercedes-Benz,38500.0,sedan,134,3.0,Diesel,1,2010,S 350,rear
4467,Mercedes-Benz,40500.0,sedan,108,5.5,Petrol,1,2010,S 500,full
4797,Mercedes-Benz,38900.0,crossover,65,4.5,Petrol,1,2010,GL 450,full
5145,Mercedes-Benz,10000.0,sedan,80,NaN,Diesel,1,2010,S 350,rear
6903,Mercedes-Benz,9300.0,van,159,2.2,Diesel,1,2010,Vito .,rear
6969,Mercedes-Benz,56800.0,sedan,74,6.3,Petrol,1,2010,S 63 AMG,rear
7336,Mercedes-Benz,35500.0,sedan,100,3.5,Petrol,1,2010,S 350,full
7416,Mercedes-Benz,11800.0,van,148,2.2,Diesel,1,2010,Vito .,NaN
7656,Mercedes-Benz,43999.0,sedan,132,3.0,Diesel,1,2010,S 350,rear
7698,Mercedes-Benz,31990.0,crossover,95,4.7,Petrol,1,2010,GL 450,full
7837,Mercedes-Benz,18500.0,van,170,2.2,Diesel,1,2010,Vito .,rear
7861,Mercedes-Benz,35500.0,sedan,100,3.5,Petrol,1,2010,S 350,full
8022,Mercedes-Benz,28900.0,other,78,3.5,Petrol,1,2010,E-Class,rear
8552,Mercedes-Benz,17800.0,van,145,2.2,Diesel,1,2010,Vito .,rear
9021,Mercedes-Benz,29900.0,crossover,86,3.0,Gas,1,2010,GLK 300,NaN

In [42]:
df.loc[(df.year == 2010) & (df.car == 'Mercedes-Benz'), :].isnull().sum()

car             0
price           0
body            0
mileage         0
engV            2
engType         0
registration    0
year            0
model           0
drive           3
dtype: int64

In [43]:
df.loc[(df.year == 2010) & (df.car == 'Mercedes-Benz') & (df.drive.isnull()), :]

,car,price,body,mileage,engV,engType,registration,year,model,drive
3096,Mercedes-Benz,23999.0,other,150,NaN,Diesel,1,2010,Vito .,NaN
7416,Mercedes-Benz,11800.0,van,148,2.2,Diesel,1,2010,Vito .,NaN
9021,Mercedes-Benz,29900.0,crossover,86,3.0,Gas,1,2010,GLK 300,NaN

In [44]:
df.loc[(df.year == 2010) & (df.car == 'Mercedes-Benz') & (df.body == 'van'), :]

,car,price,body,mileage,engV,engType,registration,year,model,drive
1056,Mercedes-Benz,16300.0,van,175,2.2,Diesel,1,2010,Vito .,rear
2508,Mercedes-Benz,11500.0,van,200,2.2,Diesel,1,2010,Vito .,rear
6903,Mercedes-Benz,9300.0,van,159,2.2,Diesel,1,2010,Vito .,rear
7416,Mercedes-Benz,11800.0,van,148,2.2,Diesel,1,2010,Vito .,NaN
7837,Mercedes-Benz,18500.0,van,170,2.2,Diesel,1,2010,Vito .,rear
8552,Mercedes-Benz,17800.0,van,145,2.2,Diesel,1,2010,Vito .,rear

In [45]:
df.loc[(df.year == 2010) & (df.car == 'Mercedes-Benz') & (df.body == 'van'), 'drive']

1056    rear
2508    rear
6903    rear
7416     NaN
7837    rear
8552    rear
Name: drive, dtype: object

In [46]:
df.loc[(df.year == 2010) & (df.car == 'Mercedes-Benz') & (df.body == 'van'), 'drive'].mode()[0]

'rear'

In [47]:
df.loc[(df.year == 2010) & (df.car == 'Mercedes-Benz') & (df.body == 'van'), 'drive'] = df.loc[(df.year == 2010) & (df.car == 'Mercedes-Benz') & (df.body == 'van'), 'drive'].fillna(df.loc[(df.year == 2010) & (df.car == 'Mercedes-Benz') & (df.body == 'van'), 'drive'].mode()[0])

In [48]:
df.loc[(df.year == 2010) & (df.car == 'Mercedes-Benz') & (df.body == 'van'), :]

,car,price,body,mileage,engV,engType,registration,year,model,drive
1056,Mercedes-Benz,16300.0,van,175,2.2,Diesel,1,2010,Vito .,rear
2508,Mercedes-Benz,11500.0,van,200,2.2,Diesel,1,2010,Vito .,rear
6903,Mercedes-Benz,9300.0,van,159,2.2,Diesel,1,2010,Vito .,rear
7416,Mercedes-Benz,11800.0,van,148,2.2,Diesel,1,2010,Vito .,rear
7837,Mercedes-Benz,18500.0,van,170,2.2,Diesel,1,2010,Vito .,rear
8552,Mercedes-Benz,17800.0,van,145,2.2,Diesel,1,2010,Vito .,rear

In [49]:
df

,car,price,body,mileage,engV,engType,registration,year,model,drive
0,Ford,15500.0,crossover,68,2.5,Gas,1,2010,Kuga,full
1,Mercedes-Benz,20500.0,sedan,173,1.8,Gas,1,2011,E-Class,rear
2,Mercedes-Benz,35000.0,other,135,5.5,Petrol,1,2008,CL 550,rear
3,Mercedes-Benz,17800.0,van,162,1.8,Diesel,1,2012,B 180,front
4,Mercedes-Benz,33000.0,vagon,91,NaN,NaN,1,2013,E-Class,rear
...,...,...,...,...,...,...,...,...,...,...
9571,Hyundai,14500.0,crossover,140,2.0,Gas,1,2011,Tucson,front
9572,Volkswagen,2200.0,vagon,150,1.6,Petrol,1,1986,Passat B2,front
9573,Mercedes-Benz,18500.0,crossover,180,3.5,Petrol,1,2008,ML 350,full
9574,Lexus,16999.0,sedan,150,3.5,Gas,1,2008,ES 350,front
9575,Audi,22500.0,other,71,3.6,Petrol,1,2007,Q7,full

In [50]:
df[(df.car == 'Mercedes-Benz') & (df.year == 2013)]

,car,price,body,mileage,engV,engType,registration,year,model,drive
4,Mercedes-Benz,33000.0,vagon,91,NaN,NaN,1,2013,E-Class,rear
39,Mercedes-Benz,200000.0,van,19,3.50,Petrol,1,2013,Sprinter 324 .,rear
196,Mercedes-Benz,12500.0,van,167,2.20,Diesel,1,2013,Vito .,rear
215,Mercedes-Benz,NaN,sedan,62,3.00,Diesel,1,2013,S 350,rear
293,Mercedes-Benz,55000.0,crossover,40,4.60,Petrol,1,2013,ML 500,full
550,Mercedes-Benz,12000.0,van,177,NaN,Diesel,1,2013,Vito .,rear
615,Mercedes-Benz,140000.0,crossover,88,5.46,Petrol,1,2013,G 63 AMG,full
1075,Mercedes-Benz,99000.0,van,5,1.60,Diesel,1,2013,Viano .,front
1584,Mercedes-Benz,29500.0,sedan,64,1.60,Petrol,1,2013,CLA 200,front
1657,Mercedes-Benz,19600.0,vagon,127,1.80,Diesel,1,2013,B 180,front
1722,Mercedes-Benz,28000.0,other,12,1.80,Petrol,1,2013,C-Class,NaN
1824,Mercedes-Benz,16800.0,van,116,2.20,Diesel,1,2013,Vito .,full
2057,Mercedes-Benz,16800.0,van,116,NaN,NaN,1,2013,Vito .,NaN
2199,Mercedes-Benz,12800.0,other,116,2.20,Diesel,1,2013,Vito .,NaN
2278,Mercedes-Benz,24950.0,other,60,1.80,Petrol,1,2013,C-Class,NaN
2343,Mercedes-Benz,219900.0,crossover,30,6.30,Petrol,1,2013,G 63 AMG,full
2411,Mercedes-Benz,13600.0,van,172,2.20,Diesel,1,2013,Vito .,rear
2467,Mercedes-Benz,13995.0,van,126,2.20,Diesel,1,2013,Vito .,NaN
2481,Mercedes-Benz,18000.0,van,147,2.20,Diesel,1,2013,Vito .,rear
2602,Mercedes-Benz,68700.0,crossover,980,3.00,Diesel,1,2013,GL 350,full
2784,Mercedes-Benz,63000.0,crossover,160,3.00,Diesel,1,2013,GL 350,full
3092,Mercedes-Benz,19600.0,van,127,1.80,Diesel,1,2013,B 180,front
3181,Mercedes-Benz,17999.0,van,260,2.20,Diesel,1,2013,Sprinter 316 .,rear
3608,Mercedes-Benz,34000.0,sedan,69,2.00,Petrol,1,2013,E-Class,rear
3909,Mercedes-Benz,219900.0,crossover,33,5.50,Petrol,1,2013,G 63 AMG,full
4270,Mercedes-Benz,23700.0,sedan,86,1.80,Gas,1,2013,E-Class,rear
4311,Mercedes-Benz,13500.0,van,97,2.20,Diesel,1,2013,Vito .,rear
4362,Mercedes-Benz,83000.0,crossover,70,3.00,Diesel,1,2013,GL 350,full
4670,Mercedes-Benz,19600.0,van,127,1.80,Diesel,1,2013,B 180,front
4902,Mercedes-Benz,55000.0,crossover,128,3.00,Diesel,1,2013,ML 350,NaN
5130,Mercedes-Benz,61500.0,crossover,16,3.00,Diesel,1,2013,ML 350,full
5751,Mercedes-Benz,49500.0,crossover,52,3.00,Diesel,1,2013,ML 350,full
6249,Mercedes-Benz,31600.0,sedan,33,1.60,Petrol,1,2013,CLA 200,front
6336,Mercedes-Benz,61500.0,crossover,121,3.00,Diesel,1,2013,GL 350,full
6443,Mercedes-Benz,50900.0,crossover,85,3.00,Diesel,1,2013,ML 350,full
6608,Mercedes-Benz,99999.0,crossover,30,5.00,Petrol,1,2013,G 500,full
6671,Mercedes-Benz,34900.0,crossover,64,2.20,Diesel,1,2013,GLK 220,full
6877,Mercedes-Benz,29500.0,crossover,55,2.20,Diesel,0,2013,ML 250,full
6998,Mercedes-Benz,115000.0,sedan,47,4.60,Petrol,1,2013,S 500,full
7410,Mercedes-Benz,41500.0,other,26,NaN,Diesel,1,2013,E-Class,rear
7841,Mercedes-Benz,58500.0,crossover,128,3.00,Diesel,1,2013,ML 350,full
7917,Mercedes-Benz,62000.0,crossover,150,3.00,Diesel,1,2013,GL 350,full
8290,Mercedes-Benz,31500.0,van,95,2.20,Diesel,1,2013,Vito .,rear
8754,Mercedes-Benz,50800.0,crossover,30,3.50,Diesel,1,2013,ML 350,full
9004,Mercedes-Benz,14300.0,other,175,2.20,Diesel,1,2013,Sprinter 313 .,rear

In [51]:
df[(df.car == 'Mercedes-Benz') & (df.year == 2013) & (df.model == 'Vito .')]

,car,price,body,mileage,engV,engType,registration,year,model,drive
196,Mercedes-Benz,12500.0,van,167,2.2,Diesel,1,2013,Vito .,rear
550,Mercedes-Benz,12000.0,van,177,NaN,Diesel,1,2013,Vito .,rear
1824,Mercedes-Benz,16800.0,van,116,2.2,Diesel,1,2013,Vito .,full
2057,Mercedes-Benz,16800.0,van,116,NaN,NaN,1,2013,Vito .,NaN
2199,Mercedes-Benz,12800.0,other,116,2.2,Diesel,1,2013,Vito .,NaN
2411,Mercedes-Benz,13600.0,van,172,2.2,Diesel,1,2013,Vito .,rear
2467,Mercedes-Benz,13995.0,van,126,2.2,Diesel,1,2013,Vito .,NaN
2481,Mercedes-Benz,18000.0,van,147,2.2,Diesel,1,2013,Vito .,rear
4311,Mercedes-Benz,13500.0,van,97,2.2,Diesel,1,2013,Vito .,rear
8290,Mercedes-Benz,31500.0,van,95,2.2,Diesel,1,2013,Vito .,rear

In [52]:
df.model.replace('Vito .', 'Vito', inplace = True)

In [53]:
df.loc[(df.car == 'Mercedes-Benz') & (df.year == 2013) & (df.model == 'Vito'), :]

,car,price,body,mileage,engV,engType,registration,year,model,drive
196,Mercedes-Benz,12500.0,van,167,2.2,Diesel,1,2013,Vito,rear
550,Mercedes-Benz,12000.0,van,177,NaN,Diesel,1,2013,Vito,rear
1824,Mercedes-Benz,16800.0,van,116,2.2,Diesel,1,2013,Vito,full
2057,Mercedes-Benz,16800.0,van,116,NaN,NaN,1,2013,Vito,NaN
2199,Mercedes-Benz,12800.0,other,116,2.2,Diesel,1,2013,Vito,NaN
2411,Mercedes-Benz,13600.0,van,172,2.2,Diesel,1,2013,Vito,rear
2467,Mercedes-Benz,13995.0,van,126,2.2,Diesel,1,2013,Vito,NaN
2481,Mercedes-Benz,18000.0,van,147,2.2,Diesel,1,2013,Vito,rear
4311,Mercedes-Benz,13500.0,van,97,2.2,Diesel,1,2013,Vito,rear
8290,Mercedes-Benz,31500.0,van,95,2.2,Diesel,1,2013,Vito,rear

In [54]:
df.loc[(df.car == 'Mercedes-Benz') & (df.year == 2013) & (df.model == 'Vito'), 'engV']

196     2.2
550     NaN
1824    2.2
2057    NaN
2199    2.2
2411    2.2
2467    2.2
2481    2.2
4311    2.2
8290    2.2
Name: engV, dtype: float64

In [55]:
df.loc[(df.car == 'Mercedes-Benz') & (df.year == 2013) & (df.model == 'Vito'), 'engV'].mode()[0]

2.2

In [56]:
df.loc[(df.car == 'Mercedes-Benz') & (df.year == 2013) & (df.model == 'Vito'), 'engV'] = df.loc[(df.car == 'Mercedes-Benz') & (df.year == 2013) & (df.model == 'Vito'), 'engV'].fillna(df.loc[(df.car == 'Mercedes-Benz') & (df.year == 2013) & (df.model == 'Vito'), 'engV'].mode()[0])

In [57]:
df.loc[(df.car == 'Mercedes-Benz') & (df.year == 2013) & (df.model == 'Vito'), 'engType'] = df.loc[(df.car == 'Mercedes-Benz') & (df.year == 2013) & (df.model == 'Vito'), 'engType'].fillna(df.loc[(df.car == 'Mercedes-Benz') & (df.year == 2013) & (df.model == 'Vito'), 'engType'].mode()[0])

In [58]:
df.loc[(df.car == 'Mercedes-Benz') & (df.year == 2013) & (df.model == 'Vito'), 'drive'] = df.loc[(df.car == 'Mercedes-Benz') & (df.year == 2013) & (df.model == 'Vito'), 'drive'].fillna(df.loc[(df.car == 'Mercedes-Benz') & (df.year == 2013) & (df.model == 'Vito'), 'drive'].mode()[0])

In [59]:
df.loc[(df.car == 'Mercedes-Benz') & (df.year == 2013) & (df.model == 'Vito'), :]

,car,price,body,mileage,engV,engType,registration,year,model,drive
196,Mercedes-Benz,12500.0,van,167,2.2,Diesel,1,2013,Vito,rear
550,Mercedes-Benz,12000.0,van,177,2.2,Diesel,1,2013,Vito,rear
1824,Mercedes-Benz,16800.0,van,116,2.2,Diesel,1,2013,Vito,full
2057,Mercedes-Benz,16800.0,van,116,2.2,Diesel,1,2013,Vito,rear
2199,Mercedes-Benz,12800.0,other,116,2.2,Diesel,1,2013,Vito,rear
2411,Mercedes-Benz,13600.0,van,172,2.2,Diesel,1,2013,Vito,rear
2467,Mercedes-Benz,13995.0,van,126,2.2,Diesel,1,2013,Vito,rear
2481,Mercedes-Benz,18000.0,van,147,2.2,Diesel,1,2013,Vito,rear
4311,Mercedes-Benz,13500.0,van,97,2.2,Diesel,1,2013,Vito,rear
8290,Mercedes-Benz,31500.0,van,95,2.2,Diesel,1,2013,Vito,rear

In [60]:
df.loc[(df.car == 'Mercedes-Benz') & (df.year == 2013) & (df.model == 'Vito'), 'body'] = df.loc[(df.car == 'Mercedes-Benz') & (df.year == 2013) & (df.model == 'Vito'), 'body'].replace('other', 'van')

In [61]:
df.loc[(df.car == 'Mercedes-Benz') & (df.year == 2013) & (df.model == 'Vito'), :]

,car,price,body,mileage,engV,engType,registration,year,model,drive
196,Mercedes-Benz,12500.0,van,167,2.2,Diesel,1,2013,Vito,rear
550,Mercedes-Benz,12000.0,van,177,2.2,Diesel,1,2013,Vito,rear
1824,Mercedes-Benz,16800.0,van,116,2.2,Diesel,1,2013,Vito,full
2057,Mercedes-Benz,16800.0,van,116,2.2,Diesel,1,2013,Vito,rear
2199,Mercedes-Benz,12800.0,van,116,2.2,Diesel,1,2013,Vito,rear
2411,Mercedes-Benz,13600.0,van,172,2.2,Diesel,1,2013,Vito,rear
2467,Mercedes-Benz,13995.0,van,126,2.2,Diesel,1,2013,Vito,rear
2481,Mercedes-Benz,18000.0,van,147,2.2,Diesel,1,2013,Vito,rear
4311,Mercedes-Benz,13500.0,van,97,2.2,Diesel,1,2013,Vito,rear
8290,Mercedes-Benz,31500.0,van,95,2.2,Diesel,1,2013,Vito,rear

In [62]:
df.isnull().sum()

car               0
price           267
body              0
mileage           0
engV            432
engType         461
registration      0
year              0
model             6
drive           493
dtype: int64

In [63]:
df.car.value_counts()

Volkswagen       936
Mercedes-Benz    921
BMW              694
Toyota           541
VAZ              489
                ...
ZX                 1
Other-Retro        1
Mercury            1
Maserati           1
Buick              1
Name: car, Length: 86, dtype: int64

In [65]:
df.loc[(df.car == 'Volkswagen') & (df.drive.isnull()), :].count()

car             57
price           53
body            57
mileage         57
engV            47
engType         47
registration    57
year            57
model           57
drive            0
dtype: int64

In [66]:
df.loc[((df.car == 'Volkswagen') & (df.year == 2013))]

,car,price,body,mileage,engV,engType,registration,year,model,drive
97,Volkswagen,NaN,van,165,2.0,Diesel,1,2013,T5 (Transporter),front
107,Volkswagen,33500.0,crossover,98,NaN,Petrol,1,2013,Touareg,full
138,Volkswagen,30000.0,sedan,67,2.0,Diesel,1,2013,Passat B7,front
155,Volkswagen,14499.0,van,164,2.0,Diesel,1,2013,T5 (Transporter),front
162,Volkswagen,18900.0,other,45,2.0,Diesel,1,2013,Passat B7,front
...,...,...,...,...,...,...,...,...,...,...
8941,Volkswagen,21000.0,vagon,58,2.0,Diesel,1,2013,Passat B7,front
9114,Volkswagen,10650.0,sedan,65,1.6,Petrol,1,2013,Polo,front
9135,Volkswagen,14899.0,van,165,2.0,Diesel,1,2013,Caddy .,NaN
9172,Volkswagen,17900.0,sedan,96,2.5,Petrol,1,2013,Passat B7,front
9537,Volkswagen,11500.0,other,51,1.6,Petrol,1,2013,Polo,NaN

In [67]:
df.loc[((df.car == 'Volkswagen') & (df.year == 2013) & (df.drive.isnull()))]

,car,price,body,mileage,engV,engType,registration,year,model,drive
512,Volkswagen,23000.0,sedan,75,2.0,Petrol,1,2013,Passat CC,NaN
3019,Volkswagen,20700.0,vagon,74,2.0,Diesel,1,2013,Passat B7,NaN
8849,Volkswagen,5000.0,sedan,81,NaN,NaN,0,2013,Passat B7,NaN
9135,Volkswagen,14899.0,van,165,2.0,Diesel,1,2013,Caddy .,NaN
9537,Volkswagen,11500.0,other,51,1.6,Petrol,1,2013,Polo,NaN